# Python byte-compiled files & cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
ENV/

# C / C++ Compiled binaries
*.o
*.obj
*.exe
*.out

# IDE & Editor files
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db
desktop.ini
*.tmp
*.bak
